.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  background-color: #282c34;
  color: #fff;
  font-size: 14px;
  width: 100%;
  min-height: 10rem;
  padding: 30px 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 300px;
  margin-left: 200px;
}

.footer-links {
  list-style-type: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
}
